<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
<link rel="stylesheet" href="app.scss">
<script src="script.ts"></script>
<script src="https://codepen.io/Hyperplexed/pen/xxYJYjM/54407644e24173ad6019b766443bf2a6.js"></script>
<script src="https://unpkg.com/browse/@types/react-dom@17.0.2/index.d.ts"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.3.1/index.min.js"></script>
<script src="https://unpkg.com/browse/@types/react@16.4.14/index.d.ts"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet"><div id="root"></div>
